@font-face {
    src: url(/fonts/AntDesign.ttf);
    font-family: "AntDesign";
}

@font-face {
    src: url(/fonts/Entypo.ttf);
    font-family: "Entypo";
}

@font-face {
    src: url(/fonts/EvilIcons.ttf);
    font-family: "EvilIcons";
}

@font-face {
    src: url(/fonts/Feather.ttf);
    font-family: "Feather";
}

@font-face {
    src: url(/fonts/FontAwesome.ttf);
    font-family: "FontAwesome";
}

@font-face {
    src: url(/fonts/FontAwesome5_Brands.ttf);
    font-family: "FontAwesome5_Brands";
}

@font-face {
    src: url(/fonts/FontAwesome5_Regular.ttf);
    font-family: "FontAwesome5_Regular";
}

@font-face {
    src: url(/fonts/FontAwesome5_Solid.ttf);
    font-family: "FontAwesome5_Solid";
}

@font-face {
    src: url(/fonts/Fontisto.ttf);
    font-family: "Fontisto";
}

@font-face {
    src: url(/fonts/Foundation.ttf);
    font-family: "Foundation";
}

@font-face {
    src: url(/fonts/Ionicons.ttf);
    font-family: "Ionicons";
}

@font-face {
    src: url(/fonts/MaterialCommunityIcons.ttf);
    font-family: "MaterialCommunityIcons";
}

@font-face {
    src: url(/fonts/MaterialIcons.ttf);
    font-family: "MaterialIcons";
}

@font-face {
    src: url(/fonts/Octicons.ttf);
    font-family: "Octicons";
}

@font-face {
    src: url(/fonts/SimpleLineIcons.ttf);
    font-family: "SimpleLineIcons";
}

@font-face {
    src: url(/fonts/Zocial.ttf);
    font-family: "Zocial";
}
